
services:
  nginx:
    image: nginx:1.25
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - app

  php:
    build: docker/php
    volumes:
      - ./:/var/www
    environment:
      DB_HOST: db
      DB_NAME: bitrix
      DB_USER: bitrix
      DB_PASSWORD: bitrix
    depends_on:
      - db
    networks:
      - app

  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_DATABASE: bitrix
      MYSQL_USER: bitrix
      MYSQL_PASSWORD: bitrix
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db:/var/lib/mysql
    networks:
      - app

volumes:
  db:

networks:
  app:
